.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 10px;
  padding: 10px 0;
}

p,input,textarea{
    font-size: small;
}

.fa.fas-1{
    color: black;
}


textarea{
    resize: none;
}