*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul
{
list-style-type: none;
background: linear-gradient(to right,rgb(0, 102, 255),rgb(122, 175, 255));
padding: 20px;
display: flex;
}
nav li
{
  position: relative;
  left: 55%;
  padding-left: 20px; 
}   
nav  a
{
text-align: center;
text-decoration: none;
padding: 10px;
}
nav a:hover{
    font-style: c;
    color: white;
}
nav li  button
{
text-align: center;
background-color: rgb(229, 236, 229);
padding: 2px 10px 4px 10px;
border-width: 0;
border-radius: 20px;
}
nav li a button:hover
{
    background-color: rgb(71, 226, 71);
}
nav li input
{
    height: 23px;
    outline: none;
   border-radius: none;
}
nav li img:hover
{
    background-color: rgb(71, 226, 71) ;
    padding: 3px;
}
.footer
{
    background-color: rgb(53, 51, 51);
    padding: 30px;
    color: white;
    display: flex;
}
.about
{
    padding-left: 80px;
}
.address
{
    padding-left: 200px;
}
.contact
{
    padding-left: 200px;
}
.about h2
{
padding-left: 50px;
}
.address h2
{
padding-left: 80px;
}

.address a {
    text-decoration: none;
}
.address a:hover{
    background-color: rgb(99, 99, 95);
    padding-right: 10px;
}
.contact h2
{
padding-left: 70px;
}
#addressloc
{
    margin-left: 70px;
}
#aboutmob
{
    margin-left: 30px;
}
#contactbtn{
   margin-left: 110px;
}
#message
{
    padding-bottom: 25px;
}