.
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards
{
    display: flex;
  
}
.card0,.card1,.card2
{
   margin: 20px;
}
.card-img-top
{   
    height: 15vw;
    width: 5%;
 object-fit: cover;
}
.card-text
{
    max-width: 500px;
}
