#teximg
{
    margin: 0px 0px 0px 50px;
border: 1px solid rgb(194, 188, 188);
border-radius: 20px;
padding: 0px 6px 0px 6px;
background-color:white;
}
.one .card-body
{
    border: 0.1px solid rgb(131, 124, 124);
}
.texim
{
    padding-left: 200px;
}
.card
{
    margin: 10px 10px 10px 10px;
}
.imgtex p
{
    margin-left: 30%;
}
.one img
{
margin-left: 200px;
width: 70px;
}
.ind1 img
{
    width: 20%;
    margin-left: 150px;
}
@media all and(min-width:801px)
{
.one{
    width: 1490px;
    margin: 10px 10px 10px 10px;
}


}
@media(max-width:1023px)
{
    .one{
        width: 1023px;
    }
}