#teximg
{
    margin: 0px 0px 0px 50px;
border: 1px solid rgb(194, 188, 188);
border-radius: 20px;
padding: 0px 6px 0px 6px;
background-color:white;
}
.texim
{
    padding-left: 200px;
}
.card
{
    margin: 10px 10px 10px 10px;
}
.one img,.imgtex p
{
margin-left: 200px;
width: 70px;
}
@media(max-width:1300px)
{
.one{
    width: 1020px;
}
.pp
{
    padding-top: 30px;
}
.img1
{
    max-width: 60vh;
    padding-left: 200px;
}
}